<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Profile</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card *ngIf="userInfo; else loading">
    <ion-card-header>
      {{userInfo.name}}
    </ion-card-header>
    <ion-card-content>
      {{userInfo.preferred_username}}
    </ion-card-content>
  </ion-card>

  <ng-template #loading>
    <ion-card>
      <ion-card-header>
        <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text>
      </ion-card-header>
      <ion-card-content>
        <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
      </ion-card-content>
    </ion-card>
  </ng-template>

  <ion-button (click)="signOut()" color="danger" expand="block">Sign Out</ion-button>
</ion-content>